@{
    ViewData["Title"] = "Статьи";
}
@section scripts{
    <script src="~/js/articleRegistry/index.js"></script>
}
@Html.Hidden("PageNumber")
@Html.Hidden("PageSize")

<div id="articleViewDiv" class="container-fluid w-100">

</div>