@model CommentRegistryModel

<form class="mt-1" method="post" data-ajax="true" data-ajax-url="/Article/AddComment" data-ajax-method="post" data-ajax-update="#commentsView">
    @Html.Hidden("ArticleId", Model.ArticleId)
    <div class="form-inline">
        <input type="text" name="Text" placeholder="Оставьте комментарий" class="form-control col-12" />
    </div>
    <input class="mt-1 btn bgColorGrey" value="Оставить комментарий" type="submit" />
</form>

@foreach(CommentViewModel comment in Model.Comments)
{
    <div class="card col-12 mt-1 bgColorOrange">
        <p>@comment.Author.UserName @comment.CreationDate.ToString("dd MMM yyyy HH:mm")</p>
        <p>@comment.Text</p>
    </div>
}
