@{
    ViewData["Title"] = "Статьи";
}
@section scripts{
    <script src="~/js/article/index.js"></script>
}
@Html.Hidden("PageNumber")
@Html.Hidden("PageSize")

<div id="articleViewDiv" class="row">

</div>