
@{
    ViewData["Title"] = "Уведомления";
}
@model List<NoticeViewModel>
@section scripts{ 
    <script src="~/js/notice/noticeRegistry.js"></script>
}
<div class="container">
    <div class="h1">Уведомления</div>

    @foreach (NoticeViewModel notice in Model)
    {
        <div class="col-6 mt-1 notice">
            @if(notice.IsReaded)
            {
                <div class="card-header">@notice.Message</div>
            }
            else
            {
                <div class="unreadednotice bgColorGrey col-6 mt-1 card-header" val="@notice.Id">@notice.Message</div>
            }
            <div class="card-footer"><span val="@notice.Id" class="text-danger deleteNotice">Удалить</span></div>
        </div>
    }
</div>

